body {
  padding-top: 100px;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron {
  background: url('/images/handpaw.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 15px !important;
}

.well {
  border: solid 5px #777;
  border-radius: 15px;
  box-shadow: inset 0px 0px 15px #000;
}

h1 {
  border-bottom: dotted 1px #ccc;
  margin-bottom: 25px;
}

.btn {
  margin-right: 10px;
}

.footer {
  font-size: 12px;
  margin: 25px 0 25px 0;
  text-align: right;
}

.footer a, .footer span {
  margin-right: 10px;
}

.auth-info-box {
  margin: 10px 0 10px 0;
  color: #eee;
  display: inline-block;
}
.profile-photo {
  width: 40px;
  height: 40px;
}
.auth-info {
  text-transform: none;
  margin-right: 7px;
  text-align: right;
  vertical-align: top;
}

ul.paws li {
  background: url(/images/paw-bullet.png) no-repeat left top;
  padding: 7px 0px 15px 40px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
}
