extends ../layout

block content
  .row
    .col-md-12
      .jumbotron.wow.bounceInDown
        div.hidden-xs.pull-right
          a(href="/contribute")
            img.wow.rotateIn(style="width: 200px;", src="/images/make-a-donation.png")
        img.too-large-on-mobile(src="/images/paw-project-logo-bright.png")
        div(style="border-bottom: solid 1px #999; margin: 10px 0 10px 0;")
        p Declawing isn't like getting a manicure or trimming your finger nails. Declawing a cat is the equivalent of removing the tips of all of your fingers down to the first knuckle. Help us put a stop to this brutal and inhumane practice!
        a.btn.btn-primary.btn-large(href="/whatyoucando") YOU CAN HELP!
  .row
    .col-md-8
      .well.wow.bounceInLeft
        h2.text-center Facts About Declawing
        ul.paws(style="font-size: larger;")
          li Declawing is amputation; it is not merely the removal of the claws. To declaw a cat, the veterinarian cuts off the last knuckles of a cat's paw – cutting through bone, tendons, skin and nerves. In a person, it is equivalent to amputating each finger or toe at the last joint.
          li Declaw surgery can be an extremely painful procedure with associated health risks and complications such as infection.
          li Declaw surgery can produce permanent lameness, pain or arthritis.
          li Declawing is the same mutilating procedure for house cats or big cats.
          li
            a(href="/faq") More about feline declawing and humane alternatives to declaw surgery »
    .col-md-4
      .well.text-center.wow.bounceInRight
        a(href="/contribute")
          img(style="width: 100%; margin-bottom: 15px; border-radius: 10px; border: solid 1px #999;", src="/images/bumper-sticker-1000.png")
  .row
    .col-md-12
      .well.wow.bounceInUp
        a(href="http://pawprojectmovie.com")
          img.too-large-on-mobile(style="width: 30%; margin: 0 0 15px 25px; border-radius: 10px; float: right;", src="/images/paw-project-movie.gif")
        div.text-center
          h3
            span THE PAW PROJECT MOVIE IS NOW AVAILABLE 
            br
            span ON DEMAND AND ON DVD.
          h3
            span SEE THE FILM AND JOIN THE MOVEMENT TODAY!

          p.
            You can use PayPal to make a tax-deductible donation in any amount. For a $10 minimum donation ($15 for Canadian addresses), you can receive
            THE PAW PROJECT MOVIE DVD as a gift - for a limited time only. When using PayPal, be sure to click "Add special instructions to the seller"
            to request your DVD of THE PAW PROJECT MOVIE.

          hr

          a(href="https://itunes.apple.com/us/movie/the-paw-project/id737307918")
            img(style="width: 12.5%; margin-right: 2.5%", src="/images/itunes-logo.png")
          a(href="http://www.amazon.com/The-Paw-Project-Jennifer-Conrad/dp/B00GDLSR28")
            img(style="width: 12.5%; margin-right: 2.5%", src="/images/aiv-logo.png")
          a(href="https://play.google.com/store/movies/details/The_Paw_Project?id=UNspYhNeHhU")
            img(style="width: 12.5%; margin-right: 2.5%", src="/images/google-play-logo.png")
          a(href="http://www.youtube.com/watch?v=UNspYhNeHhU")
            img(style="width: 12.5%;", src="/images/youtube-logo.png")

          hr

        blockquote
          span "The Paw Project is an eye-opening film that will be of interest to millions of cat owners..."
          br
          em The Hollywood Reporter

        blockquote
          span "Robustly persuasive, with Conrad compellingly framing her crusade as a battle between a right-thinking vet and a deep-pocketed industry group that purportedly represents her." 
          br
          em The Los Angeles Times

        blockquote
          span "Eye-opening...charming"
          br
          em The Village Voice

        blockquote
          span "A heartfelt documentary....Certainly will make any cat owner, and perhaps some fellow veterinarians, think twice about declawing." 
          br
          em The New York Times

        blockquote
          span "The Paw Project proves that film has the power to effect social change-to right wrongs even when our elected representatives fail to do so." 
          br
          em Scott Tallal, Executive Director, Malibu Film Society

        blockquote
          span "This film is an inspiring emotional ride that should be seen by every animal lover and anyone who has ever been aware of a wrong and wanted to right it." 
          br
          em Mark Thompson, Fox Television, Current TV, KFI Radio

        blockquote
          span "Skillfully weaves arguments and images...gives the political drama a cinematic flow."
          br
          em LA Weekly

        blockquote
          span "A love letter to cats"
          br
          em Cinema Beach

        blockquote
          span "The Paw Project doesn't have gruesome, bloody imagery or try to horrify you or guilt trip you. It explains how declawing actually works, why many people are against it, and leaves you empowered knowing you can do something about it." 
          br
          em Danica Davidson, MTV
