extends ../layout

block content
  .row
    .col-md-12
      .jumbotron.animated.bounceInDown
        div.pull-right
          a(href="/contribute")
            img.animated.flipInX(style="width: 200px;", src="/images/make-a-donation.png")
        img.animated.bounceInRight(src="/images/paw-project-logo-bright.png")
        div(style="border-bottom: solid 1px #999; margin: 10px 0 10px 0;")
        p Declawing isn't like getting a manicure or trimming your finger nails. Declawing a cat is the equivalent of removing the tips of all of your fingers down to the first knuckle. Help us put a stop to this brutal and inhumane practice!
        a.btn.btn-primary.btn-large(href="/youcanhelp") YOU CAN HELP!
  .row
    .col-md-8
      .well.animated.bounceInLeft
        h2.text-center Facts About Declawing
        ul.paws(style="font-size: larger;")
          li Declawing is amputation; it is not merely the removal of the claws. To declaw a cat, the veterinarian cuts off the last knuckles of a cat's paw – cutting through bone, tendons, skin and nerves. In a person, it is equivalent to amputating each finger or toe at the last joint.
          li Declaw surgery can be an extremely painful procedure with associated health risks and complications such as infection.
          li Declaw surgery can produce permanent lameness, pain or arthritis.
          li Declawing is the same mutilating procedure for house cats or big cats.
          li
            a(href="/faq") More about feline declawing and humane alternatives to declaw surgery »
    .col-md-4
      .well.text-center.animated.bounceInRight
        a(href="http://pawprojectmovie.com")
          img(style="border-radius: 10px;", src="/images/paw-project-movie.gif")
